2.Python para la inteligencia artificial/Trabajo_procesamiento_dataset/res/PPR*
2.Python para la inteligencia artificial/Trabajo_procesamiento_dataset/res/IRL_*
2.Python para la inteligencia artificial/Trabajo_procesamiento_dataset/res/metadata*
1.Algoritmos de optimizacion/*.tsp
1.Algoritmos de optimizacion/*.gz
