2.Python para la inteligencia artificial/Trabajo_procesamiento_dataset/res/PPR-ALL-cleaned.csv
2.Python para la inteligencia artificial/Trabajo_procesamiento_dataset/res/PPR-ALL.csv
2.Python para la inteligencia artificial/Trabajo_procesamiento_dataset/res/PPR-ALL.zip
