2.Python para la inteligencia artificial/Trabajo_procesamiento_dataset/res/*
2.Python para la inteligencia artificial/Trabajo_procesamiento_dataset/res/*.csv
1.Algoritmos de optimizacion/*.tsp
1.Algoritmos de optimizacion/*.gz
